html, body
{
	margin: 0;
	height: 100%;
	overflow: hidden;
}

body
{
	background-color: linen;
	text-align: center;
	clear: both;
}

input
{
	text-align: center;
}

#container
{
	margin: auto;
	margin-top: 8px;
	font-size: 0;
}

.button-group
{
	vertical-align: top;
	display: inline-block;
}

.button-group button
{
	display: block;
}

h1,h2,h3,h4,h5,h6
{
	padding: 0px;
	margin: 0px;
}

.small
{
	width: 32px;
}

.medium
{
	width: 50px;
}

.large
{
	width: 75px;
}

table
{
	border: 1px solid black;
	border-collapse: collapse;
}

tr
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-collapse: collapse;
}

canvas
{
	border: 1px solid #000000;
	image-rendering: pixelated;
}

.tile
{
	position: absolute;
	top: 0;
	font-size: 3em;
	cursor: pointer;
	padding: 5px;
	background-color: white;
	border-bottom: 3px solid black;
}

.left
{
	left: 0;
	border-right: 3px solid black;
}

.right
{
	right: 0;
	border-left: 3px solid black;
}

.overlay
{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
}

.list
{
	min-width: 700px;
	max-width: 40%;
	top: 10%;
	height: 100%;
	margin: auto;
	padding: 50px;
	background-color: white;
}

/* This code block is from antonj's answer to https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number]
{
	-moz-appearance:textfield; /* Firefox */
}
/* This code block ends. */

/* https://www.w3schools.com/howto/howto_css_overlay.asp */
#overlay
{
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}