html, body
{
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-color: linen;
}

*::selection
{
	background-color: rgba(0, 0, 0, 0);
}

canvas
{
	image-rendering: pixelated;
	position: absolute;
}

input
{
	text-align: center;
}

input[type=number]
{
	width: 30px;
	text-align: center;
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
{
	-webkit-appearance: none;
}

table
{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table.reverse tbody
{
	display: flex;
	flex-direction: column-reverse;
}

.collapse
{
	width: 1%;
}

.center
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ui
{
	position: absolute;
	width: 275px;
	background-color: lightgray;
	border: 5px double darkgray;
	text-align: center;
	height: 99%;
	overflow: auto;
}

.ui *
{
	margin: 0;
}

.ui div
{
	background-color: darkgray;
	color: white;
	border: 2px solid black;
}

.ui div.separator
{
	display: inline-block;
}

.ui div.separator *
{
	display: inline-block;
	padding: 3px 7px;
	background-color: skyblue;
	text-shadow: 0 0 5px white;
	cursor: pointer;
}

.ui div.separator *:not(:first-child)
{
	border-left: 2px solid black;
}

.ui div.separator *.selected
{
	background-color: lightgreen;
}

.ui div div
{
	border: 2px solid gray;
	border-top: 2px solid lightgray;
}

/* I have no clue how to make this work properly. */

.ui .fixed
{
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 5px;
	color: black;
	cursor: default;
	transition: left 0.25s ease-in-out 0.5s;
}

.ui .fixed:hover
{
	left: -15%;
}

.sidebar
{
	height: 99%;
	right: -275px;
	transition: right 0.25s ease-in-out;
}

.sidebar:hover
{
	right: 0;
}

.padded
{
	padding: 5px;
}

.rainbow
{
	animation: rainbow 15s linear 0s infinite normal;
}

@keyframes rainbow
{
	0% {background-color: red; color: white;}
	12% {background-color: orange; color: black;}
	25% {background-color: yellow; color: black;}
	50% {background-color: green; color: white;}
	67% {background-color: blue; color: white;}
	83% {background-color: violet; color: white;}
	100% {background-color: red; color: white;}
}

.version
{
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
	text-shadow: 0 0 5px black;
	font-size: x-large;
	background-color: #c8c8c8;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	text-decoration: none;
}

.error
{
	position: absolute;
	background-color: red;
	border: 3px solid darkred;
	border-radius: 50%;
	padding: 5px;
	font-size: 125%;
	cursor: pointer;
	display: none;
}