html, body
{
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-color: linen;
}

canvas
{
	image-rendering: pixelated;
	position: absolute;
}

input[type=number]
{
	width: 30px;
	text-align: center;
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
{
	-webkit-appearance: none;
}

table
{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table.reverse tbody
{
	display: flex;
	flex-direction: column-reverse;
}

.collapse
{
	width: 1%;
}

.center
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ui
{
	position: absolute;
	width: 275px;
	background-color: lightgray;
	border: 5px double darkgray;
	text-align: center;
	height: 99%;
	overflow: auto;
}

.ui *
{
	margin: 0;
}

.ui div
{
	background-color: darkgray;
	color: white;
	border: 2px solid black;
}

.ui div.separator
{
	display: inline-block;
}

.ui div.separator *
{
	display: inline-block;
	padding: 3px 7px;
	background-color: skyblue;
	text-shadow: 0 0 5px white;
	cursor: pointer;
}

.ui div.separator *:not(:first-child)
{
	border-left: 2px solid black;
}

.ui div.separator *.selected
{
	background-color: lightgreen;
}

.ui div div
{
	border: 2px solid gray;
	border-top: 2px solid lightgray;
}

.sidebar
{
	height: 99%;
	right: -275px;
	transition: right 0.25s ease-in-out;
}

.sidebar:hover
{
	right: 0;
}